# Node modules
node_modules/
apps/*/node_modules/

# Build outputs (Next.js, etc.)
.next/
dist/
out/
build/

# Environment files
.env
.env.local
.env.*.local

# Firebase Admin private key
apps/backend/src/lib/firebaseAdmin.ts
service-account-key.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Electron outputs
apps/desktop/*.asar
apps/desktop/release-builds/
apps/desktop/*.dmg
apps/desktop/*.exe
apps/desktop/*.zip

# Others
coverage/
